.header {
  width: 10vw;
  height: 10vh;
  background-color: #454545;
  color: white;
}

.top-section {
  width: 100vw;
  height: 10vh;

  background-image: url('https://hd.unsplash.com/photo-1428379047360-530142c0e178');



}


section {

width: 10vw;

}
